<header class="topbar">
    <div>
        <p class="page-eyebrow">{{ page_eyebrow|default:"Overview" }}</p>
        <h1 class="page-title">{{ page_title }}</h1>
        <p class="page-subtitle">{{ page_sub }}</p>
    </div>

    <div class="profile-box">
        <div class="profile-info">
            <h3>
                {{ request.user.employee_name }}
                <span>• {{ request.user.employee_id }}</span>
            </h3>
            <p>
                {{ request.user.get_role_display }}
                &nbsp;·&nbsp;
                {{ request.user.get_designation_display }}
            </p>
        </div>

        <div class="profile-avatar">
            {{ request.user.employee_name|slice:":1"|upper }}
        </div>
    </div>
</header>
